.table{
  min-width: 100%;
  border-collapse:separate;
  border-spacing: 0px 10px;

  @media (max-width: 767.98px){
    min-width: calc(100% + 10px);
  }

  th{
    padding: 5px;
    padding-bottom: 15px;
    color: $bg;
    font-size: 16px;
    font-weight: 700;
    @media (max-width: 767.98px){
      padding: 5px 10px;
    }
  }

  td{
    text-align: center;
    background-color: $bg;
    padding: 5px;
    height: 60px;
    @media (max-width: 767.98px){
      padding: 7px 10px;
      white-space: nowrap;
    }

    img{
      min-width: 50px;
    }
  }

  tr td:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  tr td:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  td{
    a{
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}