-
    var menuHeader = [
        {
            href: '#about',
            title: 'О фонде'
        },
        {
            href: '#how',
            title: 'Как начать'
        },
        {
            href: '#philosophy',
            title: 'философия'
        },
        {
            href: '#info',
            title: 'преимущества'
        },
        {
            href: '#contacts',
            title: 'Контакты'
        },

    ]
-
    var menuFooter = [
        {
            href: '#about',
            title: 'О фонде'
        },
        {
            href: '#system',
            title: 'о торговой системе'
        },
        {
            href: '#how',
            title: 'Как начать'
        },
        {
            href: '#philosophy',
            title: 'философия'
        },
        {
            href: '#info',
            title: 'преимущества'
        },

    ]

-
    var infoItems = [
        {
            src: 'images/content/index/info/1.svg',
            txt: 'С нашим фондом вам больше не придется тратить время на поиск перспективных инвестиционных идей, анализировать сотни новостей, разбираться с отчетностью и сложными рыночными мультипликаторами.'
        },
        {
            src: 'images/content/index/info/2.svg',
            txt: 'Торговый робот AngelovCapital сделает всю работу за вас: купит перспективные акции, закроет сделку, и тем самым принесет прибыль. Молниеносное время реакции робота выгодно в условиях быстро меняющегося рынка. '
        },
        {
            src: 'images/content/index/info/3.svg',
            txt: 'Робот действует на 100% непредвзято, никогда не отступает от запрограммированной торговой логики, не подвержен влиянию эмоций и других негативных факторов. Будем честны: на это не всегда способны даже самые дисциплинированные трейдеры.'
        },
        {
            src: 'images/content/index/info/4.svg',
            txt: 'Деньги будут работать от открытия до закрытия рынка: пока вы путешествуете, работаете или занимаетесь бизнесом. Не нужно быть профессионалом: зарабатывать с AngelovCapital может каждый. Вы по-прежнему полностью контролируете свой торговый счет и можете быть уверены в безопасности.'
        },

    ];